# Modrinth Personal Access Token (PAT) with project management & release permissions
MODRINTH_TOKEN=your_modrinth_token_here

# CurseForge API Token (from API Keys in your CurseForge Developer Portal)
CURSEFORGE_TOKEN=your_curseforge_token_here

# GitHub Personal Access Token or repository action token (automatically provided in GitHub Actions as secrets.GITHUB_TOKEN)
GITHUB_TOKEN=your_github_token_here
